<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vid2Text | An Easy to Access Video Transcription web app</title>
    <link rel="icon" type="image/x-icon" href="../../../static/images/icon.png">
    <link rel='stylesheet' href='../../../static/css/style.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
   <header  class='text-center my-4 border-bottom border-info mx-4'>
       <h1 class='fs-1'> VID2TEXT  </h1>
        <p> Easy to Access Video and Audio Transcription  </p>
    </header>

   <section class='container py-4'>
       <div class="about">
           <div class="about-image text-center">
               <img src="../../../static/images/about-img.png" alt="online Videos">

           </div>
           <div class="about-desc text-center ">
                Vid2Text is a platform that provides easy access to audio and video text transcription in one step. With the use of the cutting-edge technology of AssemblyAI, transcriptions are generated easily and efficiently.
               <br></br>   
                We provide: <i class='fas fa-play'></i> Automatically transcribe audio and video files with high accuracy. 
                <i class='fas fa-play'></i>  Modified and Customized Audio and Video Transcriptions.
                <i class='fas fa-play'></i>  Easy Keyword Search through Text.
                <i class='fas fa-play'></i>  Export Audio in Text Format.
          
            </p>
               <button class='text-center p-3 rounded-pill border-0 .fs-3 text '>
                   <a href="/video/" >
                    Get started <i class="fas fa-arrow-circle-right"></i>
                    </a>
               </button>
           </div>
       </div>

   </section>

   <footer class="footer-area border-top border-info mx-4 pt-3">
    <div class="container">
        <div class="row">
            <p class="col-lg-12 footer-text text-end">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <span style="color:red;">HawkEye</span> </p>
                </div>
            </div>
</footer> 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>